@media (max-width: 375px) {
	.container {
		margin-top: 5em;
	}

	button {
		font-size: 30px;
		padding: 15px 40px;
		margin: 90px 10px;
		width: 100px;
	}
}

@media (min-width: 540px) and (max-width: 912px) {
	.container {
		margin-top: 5em;
	}

	h1 {
		font-size: 80px;
	}

	button {
		font-size: 30px;
		padding: 15px 40px;
		margin: 90px 30px;
		width: 100px;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.container {
		margin-top: 5em;
	}
}
